<!-- Votre modèle HTML -->
<div class="container mt-5" style="margin-top: 15% !important;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="card p-4">
        <div class="row" style="width: 285%; margin-bottom: 20px;">
          <h5 id="exampleModalLabel" class="border-bottom-green pb-1 col-sm-3">New Dataset</h5>
        </div>
        <form [formGroup]="collectionFormGroup" (ngSubmit)="soumettreCollection()">
          <div class="mb-3 row">
            <label for="nom" class="form-label fw-bold col-sm-3">Dataset name:</label>
            <div class="col-sm-9">
              <input 
                type="text" 
                id="nom" 
                formControlName="nom" 
                class="form-control" 
                placeholder="Name of Dataset"
                [class.is-invalid]="isFieldInvalid('nom')">
              <div class="invalid-feedback" *ngIf="isFieldInvalid('nom')">
                {{ getFieldError('nom') }}
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="description" class="form-label fw-bold col-sm-3">Description:</label>
            <div class="col-sm-9">
              <textarea 
                id="description" 
                formControlName="description" 
                class="form-control" 
                placeholder="Describe the Dataset"
                [class.is-invalid]="isFieldInvalid('description')"></textarea>
              <div class="invalid-feedback" *ngIf="isFieldInvalid('description')">
                {{ getFieldError('description') }}
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-green" (click)="retour()" style="margin-right: 10px;">Cancel</button>
            <button type="submit" class="btn btn-green">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
