app/node_modules
app/.angular/
ProjectManagementService/src/main/resources/application.properties
ProjectManagementService/src/main/resources/application.properties
ProjectManagementService/src/main/resources/application.properties
.idea
.vscode
ModelService
node_modules/
LisseDente.pt