<div class="container py-4 main-container">
  <!-- Step 1: Description -->
  <div class="mb-4">
    <h3 class="fw-bold">{{ model.name }}
      <span class="fs-6">({{ model.categorie }}
        <i class="bi bi-question-circle-fill ms-2" [attr.title]="getCategoryDescription()"></i>)</span>
    </h3>
    <p>{{ model.description }}</p>
  </div>

  <!-- Step 2: Metrics -->
  <div class="p-3 metrics-container border border-2">
    <h4 class="fw-bold">Metrics</h4>
    <p><strong>Accuracy:</strong> {{ model.accuracy }}
      <i class="bi bi-question-circle-fill" title="Accuracy measures model performance."></i>
    </p>
    <p><strong>Loss:</strong> {{ model.loss }}
      <i class="bi bi-question-circle-fill" title="Loss quantifies prediction errors."></i>
    </p>
  </div>

  <!-- Step 3: Examples -->
  <div class="mt-4 p-4 border border-2 border-rad">
    <h4 class="fw-bold">Examples</h4>
    <img [src]="model.example1" class="img-fluid" alt="Example Image">
  </div>

  <!-- Step 4: Architecture -->
  <div class="p-3 mt-4 metrics-container border border-2">
    <h4 class="fw-bold">Architecture Image</h4>
    <img [src]="model.architectureImage" class="img-fluid" alt="Architecture Image">
    <p class="fw-bold">Number of Layers: {{ model.numLayers }}</p>
    <p><strong>Number of Parameters:</strong> {{ model.numParams }}</p>
  </div>

  <!-- Step 5: Model Usage -->
  <div class="p-3 mt-4 metrics-container border border-2">
    <h4 class="fw-bold">Utility of Model</h4>
    <p>{{ model.modelUsage }}</p>
  </div>
</div>