<div class="inner-container">
  <div class="custom-card">
    <div class="custom-header">
      <h3>Corpus details</h3>
    </div>
    <hr class="separator">
    <div class="card-body d-flex align-items-center">
      <div class="project-image">
        <img [src]="cheminDtl" alt="Project Image" class="img-fluid">
      </div>
      <div class="project-info">
        <div class="info-item">
          <strong class="label">Name of corpus:</strong>
          <span>{{ collection?.nom }}</span>
        </div>
        <div class="info-item">
          <strong class="label">Description:</strong>
          <span>{{ collection?.description }}</span>
        </div>
        <div class="info-item">
          <strong class="label">Date of creation:</strong>
          <span>{{ collection?.dateCreation | date: 'dd/MM/yyyy' }}</span>
        </div>
        <div class="info-item">
          <strong class="label">Number of images:</strong>
          <span>{{ NbSpecimens }} <a href="#">Images</a></span>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <span class="created-by">Created by <strong class="creator-name">Yassine QACAMI</strong></span>
    </div>
  </div>
</div>

<style>
  .label {
    color: #848441;
  }

  .created-by {
    color: #848441;
  }

  .creator-name {
    color: #000000;
  }
</style>
