<div class="container">
  <div >
      <!-- Liste/Grid Toggle -->
      <div class="list_grid">
        <button class="btn" (click)="setView('list')" [class.active]="!isGridView" style="margin-bottom: 15px;">
          <i class="bi bi-list"></i>
        </button>
        <button class="btn" (click)="setView('grid')" [class.active]="isGridView">
          <i class="bi bi-grid-3x3-gap"></i>
        </button>
        <button class="btn">{{ collectionSpecimens.length }}</button>
      </div>

    
<div class="plant-list d-flex flex-column" [ngClass]="{'grid-view': isGridView, 'list-view': !isGridView}">
  <div >
      <div 
          *ngFor="let plante of collectionSpecimens | paginate: { itemsPerPage: 10, currentPage: p }"
          [ngClass]="{'grid-card': isGridView, 'list-card': !isGridView}">
          
          <div class="card d-flex flex-row" *ngIf="!isGridView">
            <img [src]="plante.image.image_url" alt="Plant Image" class="card-img">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" [innerHTML]="formatNomScientifique(plante.nomScientifique)"></h5>
                
                <p class="card-text" *ngIf="plante.dateCreation" class="custom-icon">
                    {{ plante.dateCreation }}
                </p>
        
                <p class="card-text" *ngIf="plante.genre" class="custom-icon">
                    Genus: {{ plante.genre }}
                </p>
        
                <p class="card-text" *ngIf="plante.famille" class="custom-icon">
                    Family: {{ plante.famille }}
                </p>
        
                <div class="mt-auto text-center">
                    <button class="btn btn-primary" (click)="navigateToImageInf(plante)">Voir plus</button>
                </div>
            </div>
        </div>
        

          <div class="card text-center" *ngIf="isGridView">
              <img [src]="plante.image.image_url" alt="Plant Image" class="card-img">
              <div class="card-body">
                  <h5 class="card-title">{{ plante.nomScientifique }}</h5>
                  <button class="btn btn-primary" (click)="navigateToImageInf(plante)">Voir plus</button>
              </div>
          </div>
      </div>
  </div>

  <div class="pagination-container d-flex justify-content-end">
      <pagination-controls 
          (pageChange)="p = $event" 
          [autoHide]="true" 
          [previousLabel]="'<' " 
          [nextLabel]="'>'"
          [responsive]="true">
      </pagination-controls>
  </div>
</div>

    
    </div>
  </div>
