/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: 'Spartan';
    src: url('assets/fonts/Spartan-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Spartan';
    src: url('assets/fonts/Spartan-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'SpartanBold';
    src: url('assets/fonts/Spartan-Bold.ttf') format('truetype');
}
* { margin: 0; font-family: Spartan !important; font-weight: 600 !important;}
