<!-- exportannotation.component.html -->
<div class="big-card">
    <!-- Title -->
    <div class="header">
        <h2>Export Annotations</h2>
    


  <!-- Buttons aligned to the right -->
    <div class="button-container">
        <button class="btn export-btn" (click)="exportSelected()">Export</button>
        <button class="btn import-btn" (click)="importAnnotations()">Import</button>
    </div>
    <!-- Table for Annotations -->
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" (change)="toggleAllSelection($event)" />
                    </th>
                    <th>Image</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let annotation of annotations">
                    <td>
                        <input type="checkbox" [(ngModel)]="annotation.selected" />
                    </td>
                    <td><img [src]="annotation.imgSrc" class="annotation-img" /></td>
                    <td><strong>{{ annotation.description }}</strong></td>
                </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>
