<div class="card">
  <div class="card-header">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="fw-bold fs-4 me-2">List of Projects</div>
      <button (click)="func_ajout_Prj()" class="btn btn-green pt-1 pb-1 ps-3 pe-3">
        Create
      </button>
    </div>

    <!-- Search Box -->
    <div class="filters mt-3">
      <div class="form-outline" style="width: 100%;">
        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control input__field" placeholder=" "
          aria-label="search">
        <label for="form1" class="input__label" [class.clicked]="searchtext"><i class="bi bi-search"></i> Search by name</label>
      </div>
    </div>

    <div class="sort_filter mt-3">
      <div class="sort_filter-container d-flex justify-content-between align-items-center">
        <div class="sort d-flex align-items-center gap-2">
          <button class="p-1 bg-white border-rounded border-gray me-2" (click)="sortBy('nomProjet')">Name<i class="bi" [ngClass]="currentSortField === 'nomProjet' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></button>
          <button class="p-1 bg-white border-rounded border-gray me-2" (click)="sortBy('dateCreation')">Date of creation<i class="bi" [ngClass]="currentSortField === 'dateCreation' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></button>
          <button class="p-1 bg-white border-rounded border-gray me-2" (click)="sortBy('creator')">Creator<i class="bi" [ngClass]="currentSortField === 'creator' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></button>
        </div>
        <div class="filter d-flex align-items-center gap-3">
          <strong>Filter By :</strong>
          <select [(ngModel)]="selectedOption">
            <option value="all">All projects</option>
            <option value="my">My projects</option>
            <option value="collaborator">Collaborator projects</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Déplacer la table dans .card-body -->
  <div class="card-body">
    <table class="validation-table table">
      <thead>
        <tr>
          <th (click)="sortBy('nomProjet')">Project name <span class="sort-icons">⬆⬇</span></th>
          <th (click)="sortBy('dateCreation')">Date of creation <span class="sort-icons">⬆⬇</span></th>
          <th (click)="sortBy('creator')">Creator <span class="sort-icons">⬆⬇</span></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projets | filterByName: searchtext: 'nomProjet' | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{ p.nomProjet }}</td>
          <td>{{ p.dateCreation | date: 'dd/MM/yyyy' }}</td>
          <td>{{ p.createur.prenom }} {{ p.createur.nom }}</td>
          <td class="actions">
            <button (click)="ouvrirProjet(p.id)" class="btn btn-green me-2">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button (click)="supprimerProjet(p.id)" class="btn btn-green">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
      [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
  </div>
</div>

<ng-template #errors>
  <div class="container text-center mt-3">
    <div class="alert alert-danger fs-5" role="alert">
      {{ message_err }}
    </div>
  </div>
</ng-template>