<div class="model-list-container">
  <div class="header">
    <div _ngcontent-ng-c2565222890="" class="fw-bold fs-4 me-2">List of Models</div>
    <button class="create-btn" (click)="func_ajout_Model()">Create</button>
  </div>
  <div class="fltr">
    <div class="form-outline" style="width: 100%; margin-bottom: 5px;">
        <input type="search" [(ngModel)]="searchtext" id="form1"
            class="form-control input__field" placeholder=" " aria-label="search">
        <label for="form1" class="input__label" [class.clicked]="searchtext"><i
                class="bi bi-search"></i>
            Search byy
            name</label>
    </div>
</div>
  <table class="model-table">
    <thead>
      <tr>
        <th (click)="sortBy('nom')">Name</th>
        <th>Classification</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of modele | filterByName: searchtext: 'nom' | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{ m.name }}</td>
        <td><strong>{{ m.categorie }}</strong></td>
        <td>
          <button class="info-btn text-white" (click)="func_inf_m(m.id)"><fa-icon [icon]="faCircleInfo"></fa-icon></button>
          <button class="play-btn" (click)="func_update_m(m)"><fa-icon [icon]="faEdit"></fa-icon></button>
          <button class="play-btn" (click)="func_delete_m(m.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
        
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"  [previousLabel]="'Prev'" [nextLabel]="'Next'" [responsive]="true" class="custom-pagination"></pagination-controls>
  </div>
</div>

<style>
  .custom-pagination ::ng-deep .ngx-pagination .current {
    background-color: #A3B18A !important;
    border-color: #A3B18A !important;
    color: white !important;
  }

  .custom-pagination ::ng-deep .ngx-pagination a {
    color: #A3B18A !important;
  }
</style>

