<div class="model-list-container">
  <div class="header">
    <h2>List of models</h2>
    <button class="create-btn" (click)="func_ajout_Model()">Create</button>
  </div>
  <div class="search-container">
    <input type="text" placeholder="Search by Name" class="search-bar" [(ngModel)]="searchtext" />
    <i class="bi bi-search search-icon"></i>
  </div>
  

  <table class="model-table">
    <thead>
      <tr>
        <th (click)="sortBy('nom')">Name <span class="sort-icon">⇅</span></th>
        <th>Classification</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of modele | filterByName: searchtext: 'nom' | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{ m.name }}</td>
        <td><strong>{{ m.categorie }}</strong></td>
        <td>
          <button class="info-btn text-white" (click)="func_inf_m(m.id)"><fa-icon [icon]="faCircleInfo"></fa-icon></button>
          <button class="play-btn" (click)="func_update_m(m)">▶</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"  [previousLabel]="'Prev'" [nextLabel]="'Next'" [responsive]="true" class="custom-pagination"></pagination-controls>
  </div>
</div>

<style>
  .custom-pagination ::ng-deep .ngx-pagination .current {
    background-color: #A3B18A !important;
    border-color: #A3B18A !important;
    color: white !important;
  }

  .custom-pagination ::ng-deep .ngx-pagination a {
    color: #A3B18A !important;
  }
</style>
