<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="row">
    <div class="col-lg-10 content">
      <div class="list_grid">
        <div class="d-flex align-items-center justify-content-between">
          <div class="view-toggle">
            <button class="btn" (click)="setView('list')" [class.active]="!isGridView">
              <i class="bi bi-list"></i>
            </button>
            <button class="btn" (click)="setView('grid')" [class.active]="isGridView">
              <i class="bi bi-grid-3x3-gap"></i>
            </button>
            <button class="btn">{{ collectionSpecimens.length }}</button>
          </div>
  
          <div class="pagination-container">
            <pagination-controls 
                (pageChange)="p = $event" 
                [autoHide]="true" 
                [previousLabel]="'<'" 
                [nextLabel]="'>'"
                [responsive]="true"
                class="custom-pagination">
            </pagination-controls>
          </div>
        </div>
      </div>
  
      <!-- Conteneur des cartes -->
      <div class="plant-list d-flex flex-column" 
           [ngClass]="{'grid-view': isGridView, 'list-view': !isGridView}">
        <div class="row">
          <div class="col-md-6 col-lg-4"
               *ngFor="let plante of collectionSpecimens | paginate: { itemsPerPage: 10, currentPage: p }"
               [ngClass]="{'grid-card': isGridView, 'list-card': !isGridView}">
  
            <!-- LIST VIEW -->
            <div class="card d-flex flex-row" *ngIf="!isGridView">
              <img [src]="plante.image.image_url" alt="Plant Image" class="card-img">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title" [innerHTML]="formatNomScientifique(plante.nomScientifique)"></h5>
                <p class="card-text" *ngIf="plante.dateCreation"> {{ plante.dateCreation }}</p>
<p class="card-text" *ngIf="plante.genre">Genus: {{ plante.genre }}</p>
<p class="card-text" *ngIf="plante.famille">Family: {{ plante.famille }}</p>

                <div class="mt-auto text-center">
                  <button class="btn-voir-plus" (click)="navigateToImageInf(plante)">Voir plus</button>
                </div>
              </div>
            </div>
  
            <!-- GRID VIEW -->
            <div class="card text-center" *ngIf="isGridView">
              <img [src]="plante.image.image_url" alt="Plant Image" class="card-img">
              <div class="card-body">
                <h5 class="card-title">{{ plante.nomScientifique }}</h5>
                <button class="btn-voir-plus" (click)="navigateToImageInf(plante)">Voir plus</button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  