<div class="login-page">
  <div class="login-container">
    <!-- Left Section -->
    <div class="left-section">
      <img src="assets/plant2.jpeg" alt="PlantAI Logo" class="logo" />
      <h1>Welcome to PlantAI</h1>
      <p>Your solution for managing herbaria</p>
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <div class="form-login">
        <img src="assets/logo_IRD.png" alt="IRD Logo" class="ird-logo" />
        <h2 class="login-title">Login</h2>
        <form [formGroup]="loginFormGroup" (ngSubmit)="login()" class="login-form">
          <label for="email" class="input-label light">E-mail address</label>
          <input id="email" type="email" placeholder="E-mail address" formControlName="email" />

          <label for="password" class="input-label light">Password</label>
          <input id="password" type="password" placeholder="Password" formControlName="password" />

          <a href="#" class="forgot-password">Forgot your password?</a>
          <button [disabled]="loginFormGroup.invalid" class="btn-login">Login</button>
          <p class="signup-prompt">
            No account yet? <a href="#" class="signup-link">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>