<div class="height-90" id="container">
  <!-- Image de fond (back.jpg) -->
  <img src="assets/back.jpg" style="position: absolute;" class="image">
  
  <div class="h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <!-- Section gauche : image et slogan -->
      <div class="col-md-6 d-md-block d-none col-12 bg-grad h-100">
        <div class="d-flex h-100 flex-column align-items-center justify-content-center">
          <div class="text-center">
            <h1 class="text-white display-5">Welcome to PlantAI</h1>
          </div>
          <div class="mt-2 text-center">
            <p class="text-light fs-4 font-light">Your solution to managing herbaria</p>
          </div>
          <img src="assets/plant.svg" class="w-75 h-75 opacity-50">
        </div>
      </div>
      <!-- Section droite : formulaire de connexion ou de vérification MFA -->
      <div class="col-md-6 d-md-flex flex-column justify-content-center align-items-center h-100">
        <div class="mt-5 mb-5 d-flex justify-content-center align-items-center p-3">
          <img src="assets/IRD.png" class="w-75">
        </div>
        
        <!-- Formulaire de connexion réactif (affiché si MFA n'est pas activé) -->
        <form *ngIf="!authResponse?.mfaEnabled"  (ngSubmit)="authenticate()" class="form-login p-2 d-flex col-12 col-sm-12 col-md-6">
          <div class="d-md-none d-flex justify-content-center align-items-center mb-3">
            <div class="rounded-circle bg-green d-inline-block p-2">
              <img src="assets/plant.svg" width="50" height="50">
            </div>
            <p class="fs-4 font-light p-0 mb-0 mt-0 ms-4">
              Welcome to <span class="text-green fs-4 font-light">plantAI</span>
            </p>
          </div>
          <div class="mb-5">
            <h1 class="underlined text-green">Login</h1>
          </div>
          <div class="d-flex align-items-start flex-column mb-4 w-100">
            <label for="username">Email</label>
            <input name="username" id="username" type="username" placeholder="Email" class="form-control w-100"  required [(ngModel)]="authRequest.email">
          </div>
          <div class="d-flex align-items-start flex-column w-100">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"  class="form-control"  required [(ngModel)]="authRequest.password">
          </div>
          <div class="d-flex justify-content-end">
            <p class="fs-5 font-light text-black">
              No account yet ? 
              <span>
                <a class="text-green fs-5 underlined font-light" [routerLink]="['/signup']">Sign Up</a>
              </span>
            </p>
          </div>
          <button class="btn btn-green p-2" type="submit">Login</button>
          <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
        </form>
        
        <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" *ngIf="authResponse.mfaEnabled">
          <h2>Two-Factor Authentication</h2>
          <div class="form-group">
            <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
            <input
              type="text"
              id="validationCode"
              name="validationCode"
              required
              [(ngModel)]="otpCode"
            >
          </div>
          <button type="button" (click)="verifyCode()"
                  [class.button-disabled]="otpCode.length < 6"
          >Verify code</button>
        </div>
      </div>
    </div>
  </div>
</div>
