<div class="card">
  <div class="card-header">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="fw-bold fs-4 me-2">List of corpora</div>
      <button (click)="func_ajout_Col()" class="btn btn-green pt-1 pb-1 ps-3 pe-3">
        Create
      </button>
    </div>

    <!-- Search Box -->
    <div class="filters mt-3">
      <div class="form-outline" style="width: 100%;">
        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control input__field" placeholder=" "
          aria-label="search">
        <label for="form1" class="input__label" [class.clicked]="searchtext"><fa-icon [icon]="faSearch"></fa-icon> Search by name</label>
      </div>
    </div>

    <div class="sort_filter mt-3">
      <div class="sort_filter-container d-flex justify-content-between align-items-center">
        <div class="sort d-flex align-items-center gap-3">
          <button class="p-1 bg-white border-rounded border-gray" (click)="sortBy('nom')">Corpus Name<i class="bi" [ngClass]="currentSortField === 'nom' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></button>
          <button class="p-1 bg-white border-rounded border-gray" (click)="sortBy('dateCreation')">Creation date corpus<i class="bi" [ngClass]="currentSortField === 'dateCreation' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Déplacer la table dans .card-body -->
  <div class="card-body">
    <table class="validation-table table">
      <thead>
        <tr>
          <th (click)="sortBy('nom')">Corpus name</th>
          <th (click)="sortBy('dateCreation')">Creation date</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of collections | filterByName: searchtext: 'nom' | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{ c.nom }}</td>
          <td>{{ c.dateCreation | date: 'dd/MM/yyyy' }}</td>
          <td [title]="c.description">{{ c.description.length > 240 ? (c.description | slice:0:240) + '...' : c.description }}</td>
          <td class="actions">
            <button (click)="ouvrirCol(c.id)" class="btn btn-green me-2">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button (click)="supprimerCol(c.id)" class="btn btn-green">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
      [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
  </div>
</div>

<ng-template #errors>
  <div class="container text-center mt-3">
    <div class="alert alert-danger fs-5" role="alert">
      {{ message_err }}
    </div>
  </div>
</ng-template>