/* General Styles */
body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  font-size: 12px;
}

/* Card Styles */
.card {
  border: none;
  background-color: #fff;
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 95%;
  padding: 0; /* Supprimez le padding pour que la table touche les bords */
  overflow: hidden; /* Pour éviter que les coins internes ne dépassent */
}

.border-rounded{
  border-radius: 15px;
}
.border-gray{
  border: 1px solid #a0a0a0;
  outline : 0;
}
button:active {
  border-style: outset;
}

.btn-green{
  background-color: #86A786;
  color: white;
}
.card-header {
  background-color: #fff !important;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.card-body {
  background-color: #fff; /* Fond blanc pour le corps de la carte */
  padding: 0; /* Supprimez le padding pour que la table touche les bords */
}

textarea, select {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  font-size: 23px;
  font-weight: bold;
  color: #76804a;
  font-family: 'Arial', sans-serif;
}

.btn-create {
  background-color: #28a745; /* Vert */
  color: #617465;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn-create:hover {
  background-color: #A3B18A; 
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #61c290;
  color: #5bb685;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #62a773;
  color: #fff;
}

/* Search Box */
.filters {
  width: 100%;
  margin-bottom: 1rem;
}

.form-outline {
  position: relative;
  width: 100%;
}

.input__field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 14px;
}

.input__label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #888;
  transition: all 0.3s ease;
}

.input__field:focus ~ .input__label,
.input__field:not(:placeholder-shown) ~ .input__label,
.input__label.clicked {
  top: 0;
  font-size: 12px;
  color: #4a9277;
}

/* Sort and Filter Section */
.sort_filter {
  width: 100%;
  margin-bottom: 1rem;
}

.sort_filter-container {
  display: flex;
  padding: 0; 
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.sort,
.filter {
  display: flex;
  align-items: center;
}

.sort p,
.filter strong {
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
}

.sort p {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.sort p:hover {
  border-color: #6eb484;
  color: #51b15c;
}

.filter select {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 15px;
  background-color: #fff;
  width: 200px;
  font-size: 14px;
}

.filter select:focus {
  border-color: #449484;
  outline: none;
  box-shadow: 0 0 5px rgba(77, 156, 114, 0.5);
}

.filter-button {
  background-color: #519f82;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #509e6f;
}

/* Table Styles */
.validation-table {
  width: 100%; /* La table occupe toute la largeur disponible */
  border-collapse: collapse;
  overflow: hidden; /* Pour éviter que les coins internes ne dépassent */
}

.validation-table th,
.validation-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.validation-table th {
  font-weight: bold;
  background-color: #f8f9fa;
}

.validation-table tbody tr:last-child td {
  border-bottom: none;
}

.table thead th {
  background: #EAE7DC;
  font-weight: bold;
  cursor: pointer;
}

.table tbody tr:hover {
  background: #F5F5F5;
}

/* Boutons Actions */
.actions  {
  display: flex;
  gap: 5px;
}

.edit-btn,
.delete-btn {
  border: none;
  padding: 6px;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  transition: transform 0.2s;
}

.open-btn:hover {
  color: #8d8731;
  transform: scale(1.1);
}

.delete-btn:hover {
  color: #dc3545;
  transform: scale(1.1);
}

.btn-success {
  background-color: #c0d7c6;
  border-color: #c0d7c6;
}

.btn-danger {
  background-color: #538264;
  border-color: #538264;
}

/* Pagination Styles */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Animations */
.btn-click-animation {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.table td {
  transition: background-color 0.3s ease;
}

.table td:hover {
  background-color: #f0f0f0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .sort_filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .sort,
  .filter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .sort p,
  .filter select {
    margin: 5px 0;
  }

  .filter select {
    width: 100%;
  }
}