<div class="card">
  <div class="card-header">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="fw-bold fs-4 me-2">List of corpora</div>
      <button (click)="func_ajout_Col()" class="btn btn-outline-primary btn-lg px-4" style="padding: 0;">
        <span class="fw-bold fs-4 me-2">New Corpus</span>
      </button>
    </div>

    <!-- Search Box -->
    <div class="filters mt-3">
      <div class="form-outline" style="width: 100%;">
        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control input__field" placeholder=" "
          aria-label="search">
        <label for="form1" class="input__label" [class.clicked]="searchtext"><i class="bi bi-search"></i> Search by name</label>
      </div>
    </div>

    <div class="sort_filter mt-3">
      <div class="sort_filter-container d-flex justify-content-between align-items-center">
        <div class="sort d-flex align-items-center gap-3">
          <p (click)="sortBy('nom')">Corpus Name<i class="bi" [ngClass]="currentSortField === 'nom' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></p>
          <p (click)="sortBy('dateCreation')">Creation date corpus<i class="bi" [ngClass]="currentSortField === 'dateCreation' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Déplacer la table dans .card-body -->
  <div class="card-body">
    <table class="validation-table table">
      <thead>
        <tr>
          <th (click)="sortBy('nom')">Corpus Name <span class="sort-icons">⬆⬇</span></th>
          <th (click)="sortBy('dateCreation')">Creation date <span class="sort-icons">⬆⬇</span></th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of collections | filterByName: searchtext: 'nom' | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{ c.nom }}</td>
          <td>{{ c.dateCreation | date: 'dd/MM/yyyy' }}</td>
          <td [title]="c.description">{{ c.description.length > 240 ? (c.description | slice:0:240) + '...' : c.description }}</td>
          <td class="actions">
            <button (click)="ouvrirCol(c.id)" class="btn btn-success me-2">
              <i class="bi bi-folder2 custom-folder-icon"></i>
            </button>
            <button (click)="supprimerCol(c.id)" class="btn btn-danger">
              <i class="bi bi-trash custom-trash-icon"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
      [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
  </div>
</div>

<ng-template #errors>
  <div class="container text-center mt-3">
    <div class="alert alert-danger fs-5" role="alert">
      {{ message_err }}
    </div>
  </div>
</ng-template>