<div class="card-header">

    <div class="Add">
      <!--<i class="bi bi-list fs-4"></i>-->
      <div class="fw-bold fs-4 me-2">Corpus List</div>
  
      <div class="text-center mb-4" style="margin-bottom: 0;">
        <button (click)="func_ajout_Col()" class="btn btn-outline-primary btn-lg px-4" style="padding: 0;">
          <span class="fw-bold fs-41 me-2" style="margin-right: 0rem !important;">
            <!--<img [src]="cheminPlus" alt="add image" width="25" height="25" style="filter: invert(100%); margin-bottom: 4px; margin-right: 5px; margin-left: 5px;">-->
            New Corpus
          </span>
        </button>
      </div>
    </div>
  
    <!--search box-->
    <div class="fltr">
      <div class="form-outline mt-3" style="width: 100%;">
        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control input__field" placeholder=" "
          aria-label="search">
        <label for="form1" class="input__label" [class.clicked]="searchtext"><i class="bi bi-search"></i> Search by
          name</label>
      </div>
    </div>
  
    <div class='sort_filter'>
  
      <div class="sort_filter-container">
        <div class="sort">
          <strong>Sort By :</strong>
          <p (click)="sortBy('nom')">Corpus Name<i class="bi"
                                                           [ngClass]="currentSortField === 'nom' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i>
          </p>
          <p (click)="sortBy('dateCreation')">Creation date corpus<i class="bi"
                                                                       [ngClass]="currentSortField === 'dateCreation' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i>
          </p>
        </div>
      </div>
  
    </div>
  
  
  </div>
  
  <div class="container mt-5">
    <div class="card" style="margin-bottom: 15px;">
      <div class="card-body"
        *ngFor="let c of collections | filterByName: searchtext: 'nom' | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="Grp">
          <div class="Inf">
            <h4>{{c.nom}}</h4>
            <span> ({{ c.dateCreation }})</span>
            <p [title]="c.description">{{ c.description.length > 240 ? (c.description | slice:0:240) + '...' : c.description }}</p>
          </div>
          <div class="Btns">
            <button (click)="ouvrirCol(c.id)" class="btn btn-success me-2">
              <i class="bi bi-folder2"></i>
              <strong> Open</strong>
            </button>
            <button (click)="supprimerCol(c.id)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
              <strong> Delete</strong>
            </button>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
              [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
          
  </div>
  
  <ng-template #errors>
    <div class="container text-center mt-3">
      <div class="alert alert-danger fs-5" role="alert">
        {{ message_err }}
      </div>
    </div>
  </ng-template>
  