<div class="container mt-5">
  <div class="row top">
    <div class="col-md-8">
      <div class="card p-4" style="width: 110% !important;">
        <!-- Title "Edit Your Project Information" -->
        <h2 class="text-center mb-4">
          <span class="border-bottom border-primary pb-1">Edit Your Project Information</span>
        </h2>

        <!-- Form -->
        <form *ngIf="projetFormGroup"  [formGroup]="projetFormGroup" (ngSubmit)="modifier_prt()">
          <div class="mb-3">
            <label for="name" class="form-label fw-bold">Project Name:</label>
            <input type="text" class="form-control" id="name" formControlName="nomProjet">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label fw-bold">Description:</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>

          <!-- 
          <div class="mb-3">
            <label for="etat" class="form-label fw-bold">Project Status:</label>
            <div class="mb-3 form-check form-switch">
              <input type="checkbox" class="form-check-input" id="etat" formControlName="etat">
              <label class="form-check-label" for="etat">{{ projetFormGroup.get('etat')?.value ? 'ON' : 'OFF' }}</label>
            </div>
          </div>
          -->

          <div class="row mb-3" style="border:none; align-items:baseline;">
            <div class="col-lg-4 col-auto add" style="padding-left: 0px;">
              <button type="button" class="btn btn-success" (click)="ajouterCollaborateur()" style="margin-right: 10px;">  
                <i class="bi bi-person-plus"></i>
              </button>
              <h5 class="card-title">Collaborators:</h5>
            </div>
            <div class="col-lg-8 table-container">
              <ul class="collaborateurs-liste" style="list-style: none; margin-bottom: 0;">
                <li *ngFor="let c of collaborateurs | paginate: { itemsPerPage: 3, currentPage: p }" class="collaborateur-item" style="margin: 3px;" >
                  <img [src]="cheminUser" alt="Your image" width="25" height="25" style="margin-right: 5px;">
                  <div style="width: 145px; display: inline-block;">{{c.username}}</div>
                  <button type="button" class="btn btn-danger" (click)="func_suppr_collab(c.username)" style="margin-left: 0px; padding: 2px;"><img [src]="cheminDel" alt="Your image" width="25" height="25" style="margin-right: 0px; filter: invert(100%);"></button>
                </li>
              </ul>                
            </div>
          </div>
          <div class="d-flex wst">
            <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
              [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
            <button type="submit" class="btn btn-primary mt-3" style="margin-left: 48.5%;">Edit Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
