<div class="container-fluid" style="height: 82%;">
  <div class="row" style="height: 100%;">
    <!-- Project Navigation Bar -->
    <nav class="navbar border border-dark">
      <ul class="navbar__menu">
        <li *ngFor="let menuItem of menuItems; trackBy: trackByMenuItem" class="navbar__item">
          <a class="navbar__link" 
             [routerLink]="[menuItem.route]"
             [class.active]="isMenuItemActive(menuItem.route) | async">
            <i class="bi" [class]="menuItem.icon"></i>
            <span [style.width]="menuItem.width" style="padding-left: 7px;">
              {{ menuItem.label }}
            </span>
          </a>
        </li>
      </ul>
      
      <!-- Project ID Display (for debugging/info) -->
      <div *ngIf="projectId$ | async as projectId" class="navbar__info">
        <small class="text-muted">Project: {{ projectId }}</small>
      </div>
    </nav>
    <!-- Collection Content -->
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
