<div class="form-wrapper">
  <h2 class="form-title">Add a collaborator to your project.</h2>
  
  <div class="form-container">
    <form [formGroup]="projetFormGroup" (ngSubmit)="ajouter_collab()">
      <div class="form-group">
        <label for="collaborateur">Name of collaborator :</label>
        <select id="collaborateur" formControlName="collaborateur">
          <option *ngFor="let user of users" [value]="user.username">{{user.username}}</option>
        </select>
      </div>

      <div class="button-group">
        <button [disabled]="projetFormGroup.invalid" type="submit" class="btn-add">Add Collaborator</button>
        <button type="button" class="btn-back" (click)="modifer_infomation()">Back</button>
      </div>
    </form>
  </div>
</div>