<div class="container" style="margin-top: 0px;">

  <div class="row mb-4">
    <div class="col-lg-4 mb-lg-0 mb-3">
      <div class="Statistique p-2">
        <div class="Circle">{{formatted_nbr_c}}</div>
        <div class="Content">
            <div class="Title">Datasets</div>
            <div class="Underline"></div>
            <div class="Subtitle">Number of available Datasets</div>
        </div>
    </div>
  </div>
  <div class="col-lg-4 mb-lg-0 mb-3">
    <div class="Statistique p-2">
        <div class="Circle">{{nbr_m}}</div>
        <div class="Content">
            <div class="Title">Models</div>
            <div class="Underline"></div>
            <div class="Subtitle">Number of used models</div>
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="Statistique p-2">
        <div class="Circle">{{formatted_nbr_s}}</div>
        <div class="Content">
            <div class="Title">Specimens</div>
            <div class="Underline"></div>
            <div class="Subtitle">Number of specimens by Datasets</div>
        </div>
    </div>
  </div>
    <!-- Carré 1 - Nombre total de collections 
    <div class="col-sm-3" style="margin-left: 0%;">
      <div class="card back bg-primary text-white h-100 d-flex align-items-center">
        <div class="card-body">
          <h4 class="">Total Datasets</h4>
          <div>
            <p class="card-text ">
              <img [src]="cheminTot" alt="add image" width="25%" height="25%"
                style=" margin-bottom: 5px; margin-right: 40px;">
              {{formatted_nbr_c}}
            </p>
          </div>
        </div>
      </div>
    </div>-->

    <!-- Carré 2 - Nombre de modèles utilisés
    <div class="col-sm-3">
      <div class="card back bg-primary text-white h-100 d-flex align-items-center">
        <div class="card-body">
          <h4 class="">Models used</h4>
          <p class="card-text ">
            <img [src]="cheminMod" alt="add image" width="25%" height="25%"
              style=" margin-bottom: 5px; margin-right: 40px;">
            {{ nbr_m }}
          </p>
        </div>
      </div>
    </div>-->

    <!-- Carré 3 - Nombre moyen de spécimens par collection 
    <div class="col-sm-3">
      <div class="card back bg-primary text-white h-100 d-flex align-items-center">
        <div class="card-body">
          <h4 class="">Specimens by Dataset</h4>
          <p class="card-text">
            <img [src]="cheminSpe" alt="add image" width="25%" height="25%"
              style=" margin-bottom: 5px; margin-right: 40px;">
            {{ formatted_nbr_s }}
          </p>
        </div>
      </div>
    </div>-->

    <!-- Carré 4 - Nombre moyen d'espèces par collection -->
    <!--<div class="col-sm-3" style="margin-right: 0;">
      <div class="card bg-primary text-white h-100 d-flex align-items-center">
        <div class="card-body">
          <h4 class="card-title">Species by collection </h4>
          <p class="card-text"><img [src]="cheminEsp" alt="add image" width="40%" height="50%" style="filter: invert(50%); margin-bottom: 5px; ">
            {{ nbr_e }}
          </p>
        </div>
      </div>
    </div>-->
  </div>


  <div class="" style="margin-bottom: 15px;">

    <div class="nex_div">
      <div class="p-4 w-100">
      <div class="add">
        <div>
          <span class="font-bold fs-4 me-2">List of Datasets</span>
        </div>
        <div class="text-center mb-4 p-4" id="mb-5" *ngIf="inProject">
          <button (click)="func_ajout_col()" class="btn btn-green btn-lg ps-3 pe-3 pt-1 pb-1">
            <span class="font-bold fs-41">
              New Dataset
            </span>
          </button>
        </div>
      </div>

      <div class="fltr">
        <div class="form-outline mt-3">
          <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control input__field" placeholder=" "
            aria-label="search" style="margin-bottom: 0px !important;">
          <label for="form1" class="input__label" [class.clicked]="searchtext"><i class="bi bi-search"></i> Search by
            name</label>
        </div>
      </div>

      <div class='sort_filter'>

        <div class="sort_filter-container">
          <div class="sort mt-4">
            <strong class="me-2">Sort By :</strong>
            <button class="p-1 bg-white border-rounded border-gray me-2" (click)="sortBy('name')">Dataset name<i class="bi"
                                                             [ngClass]="currentSortField === 'name' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i>
            </button>
            <button class="p-1 bg-white border-rounded border-gray" (click)="sortBy('dateCreation')">Dataset creation date<i class="bi"
                                                                         [ngClass]="currentSortField === 'dateCreation' ? (isAscending ? 'bi-caret-up' : 'bi-caret-down') : 'bi-chevron-expand'"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    <div class="container mt-5 p-0">
      <table class="dataset-table">
        <thead>
          <tr>
            <th (click)="sortBy('name')">Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of collections | filterByName: searchtext: 'name' | paginate: { itemsPerPage: 9, currentPage: p }">
            <td>{{ c.name }}</td>
            <td [title]="c.description">{{ c.description.length > 148 ? (c.description | slice:0:148) + '...' : c.description }}</td>
            <td>
              <button class="info-btn text-white" (click)="onFinishClicked(c)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button class="play-btn" (click)="func_inf_C(c)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>

  </div>
  <pagination-controls (pageChange)="p = $event" [autoHide]="true" [previousLabel]="'Prev'"
              [nextLabel]="'Next'" [responsive]="true"></pagination-controls>
</div>
